.slide-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
}

.fluid-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}
